<h1 class="text-center mt-4"><i class="fa-solid fa-users"></i></h1>
<h1 class="hd1 text-center">Contact Manager</h1>
<h2 class="text-center works1 mt-4">View Contact</h2>
<!-- <h3 class="text-center works1">contact-manager works!</h3> -->

<div class="container">
    <div class="row d-flex justify-content-center">
        
        
        <!-- <div class="col-md-10 my-4 mx-3">
            <p>Welcome to our contact manager website! Here, you can easily organize and manage all of your important contacts in one place.

                To get started, simply create an account and log in. Once you're logged in, you can start adding contacts by clicking on the "Add Contact" button. You'll be prompted to enter the contact's name, phone number, email address, and any other relevant information.
                
                Once you've added your contacts, you can easily search for them using the search bar at the top of the page. You can also sort your contacts by name, date added, or other criteria.
                
                In addition to storing basic contact information, you can also add notes about each contact, set reminders for follow-up calls or meetings, and even attach files or documents related to that contact.
                
                Our website is designed to be easy to use and intuitive, but if you have any questions or need help with anything, please don't hesitate to contact our customer support team. We're here to help!
                
                Thank you for choosing our contact manager website to keep your contacts organized and easily accessible.</p>
        </div> -->



        
        <div class="container mt-5">
            <div class="row">

                <div class="sec2 col-md-5 pt-5 pb-5 ps-5">
                    <img class="image-icon ms-5" [src]="contact.photo" alt="" width="60%">
                </div>

                <div class="sec1 col-md-7">
                    <!-- <pre>
                        {{contactId|json}}
                        {{contact|json}}
                        {{relationId|json}}
                        {{relationName|json}}
                    </pre> -->
                    <div class="card">
                        <div class="card-body cntBox bg-dark bg-outline-dark p-4 rounded">
                            <ul class="list-group">
                                <li class="list-group-item py-2 fs-5">Name:         <b id="Val">{{contact.name}}</b>   </li>
                                <li class="list-group-item py-2 fs-5">Email:        <b id="Val">{{contact.email}} </b> </li>
                                <li class="list-group-item py-2 fs-5"> Mobile:      <b id="Val">{{contact.phone}}</b>   </li>
                                <li class="list-group-item py-2 fs-5">Company Name: <b id="Val">{{contact.company}}</b> </li>
                                <li class="list-group-item py-2 fs-5">Title:        <b id="Val">{{contact.title}}</b>  </li>
                                <li class="list-group-item py-2 fs-5">Relation:     <b id="Val">{{relationName}}</b> </li>    
                            </ul>
                        </div>
                    </div>
                </div>
        
    
        </div>

    </div>


    </div>
</div>


<br><br><br>